body {

    font-family: Arial, sans-serif;

    margin: 0;

    padding: 0;

}

header {

    background-color: #333;

    color: white;

    padding: 10px 0;

    text-align: center;

}

header .logo img {

    max-width: 100px;

}

nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

}
nav ul li {

    display: inline;

    margin-right: 10px;

}

nav ul li a {

    color: white;

    text-decoration: none;

}

.banner {

    background-color: #f4f4f4;

    padding: 20px;

    text-align: center;

}

.contenido {

    padding: 20px;

}

.contenido article {

    margin-bottom: 20px;

}

.contenido article img {

    max-width: 100%;

    height: auto;

}

footer {

    background-color: #333;

    color: white;

    text-align: center;

    padding: 10px 0;

}

.redes-sociales img {

    width: 30px;

    margin: 0 10px;

}